<%- include("header"); %>
<% if(user.role == 'admin') { %>

<div class="mx-auto flashMass " style="width: 800px; background-color: rgba(86,61,124,.15);">   
<h1>Edit product details</h1>

<pre><%#= JSON.stringify(res1, null, 4) %></pre>
<% res1 = res1[0] %>

<form class="col-sm-6 col-sm-offset-3" method="post" action="/edit">
    <fieldset>


        <label class="float-left" for="a_id">Id</label>
        <input class="form-control" id="a_id" type="text" name="a_id" value="<%= res1.Id %>" >

        <label class="float-left" for="a_photo">Photo:</label>
        <input class="form-control" id="a_photo" type="text" name="a_photo"  value="<%= res1.photo %>" >

        <label class="float-left" for="a_category">Category:</label>
        <input class="form-control" id="a_category" type="text" name="a_category"  value="<%= res1.category %>">

        <label class="float-left" for="a_type">Type: </label>
        <input class="form-control" id="a_type" type="text" name="a_type"  value="<%= res1.type %>">

        <label class="float-left" for="a_quantity">Quantity: </label>
        <input class="form-control" id="a_quantity" type="number" name="a_quantity" value="<%= res1.quantity %>">
        <br>
        <input class="btn btn-outline-secondary float-left" style="width: 40%;" type="submit" name="doit" value="Edit">
    </fieldset>
</form>
</div> 
<% } else { %>
    <div class="mx-auto flashMass" style="width: 800px; background-color: rgba(86,61,124,.15);">
        <h3>You are not an Admin</h3>
    </div>
    
  <% } %>


